body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Comfortaa', cursive;
  overflow: hidden;
}

.Background{
  background-color: #15113b;
  height: 100%;
}

title {
  color: white;
  margin-top: 35px;
}

h1{
  font-size: 5vw;
  padding-top: 3%;
  text-align: center;
  margin-top:0%;
  margin-bottom: 2%;
}

.carrots img{
  width: 30px;
  animation: carrots 4s linear infinite;
}

.carrots{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: -70px;
}

@keyframes carrots{
  0%{
    transform: translateY(0);
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  70%{
    opacity: 1;
  }
  100%{
    transform: translateY(80vh);
    opacity: 0;
  }
}

/*adjust when each carrot appears*/
.carrots img:nth-child(1){
  animation-delay: 2s;
}
.carrots img:nth-child(2){
  animation-delay: 3s;
  width: 35px;
}
.carrots img:nth-child(3){
  animation-delay: 1s;
  width: 25px;
}
.carrots img:nth-child(4){
  animation-delay: 4s;
}
.carrots img:nth-child(5){
  animation-delay: 2s;
  width: 20px;
}
.carrots img:nth-child(6){
  animation-delay: 2.5s;
  width: 25px;
}

.carrots img:nth-child(7){
  animation-delay: 5s;
}

.grid-container{
  padding-left: 7%;
  padding-bottom: 3%;
  padding-right: 7%;
}


.mole{
  width: 90px;
  height: auto;
 position: absolute
}
.backgrass{
  width: 100%;
  height: 80px;
  background-color: #15113b;
  position: absolute;
}

img{
  width: 100%;
  height: 100%;
}